<html>
<head>

</head>
<body style="background-color:#debab1">
    <div style="padding: 0% 5% 0% 5%;">

        <div style="display: flex; justify-content:center">
            <div style="font-size:26px;">Classes</div>
        </div>

        <div style="display: flex; align-items:center; padding:0% 25% 0% 5%; flex-direction:column">
            @{
                if (Model != null)
                {
                    foreach (var Data in Model)
                    {
                        <div class="card" style="padding:0px 10px 0px 10px; width:100%; margin:5px 0px 5px 0px">
                            <div style="font-size:20px">
                                <span>Name: @Data.Class_Title</span>
                            </div>
                            <div><span>Class Code: @Data.Class_Code</span></div>
                            <div><span>Description: @Data.Class_Description</span></div>
                        </div>
                    }
                }
            }
        </div>

    </div>
</body>
</html>